body {
	/* padding: 0;
	margin: 0; */
}

iframe {
	/* border:1px solid #666; */
}

body #japan-map-container {
	over-flow:hidden;
	position:relative;
	display:fixed;
	z-index:100;
}

body #japan-map-container > canvas {
	position:relative;
	top:0px;
	left:0px;
	z-index: 101;
}

body #japan-map-back-btn {
	position:absolute;
	top:10px;
	left:10px;
	z-index:100000;
	display: none;
}
